@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: hsl(0, 0%, 98%);
  font-size: 15px;
}
.heading {
  text-align: center;
  color: hsl(234, 12%, 34%);
  line-height: normal;
  margin-top: 3rem;
}
.head1 {
  font-weight: 200;
}
h1 {
  line-height: 80%;
}
section {
  align-items: center;
  margin-left: 10%;
  margin-right: auto;
  margin-top: 3rem;
}
article {
  background-color: white;
  border-top: 5px solid hsl(0, 78%, 62%);
  margin: 1rem;
  width: 21rem;
  height: 13.8rem;
  display: inline-grid;
  border-radius: 0.5rem;
  /* border: 1px solid; */
  padding: 10px;
  padding-left: 30px;
  box-shadow: 5px 10px 18px hsl(229, 6%, 66%);
  /* justify-content: center; */
}
article:nth-child(1) {
  transform: translateY(6rem);
  border-top: 5px solid hsl(180, 62%, 55%);
}
article:nth-child(3) {
  transform: translateY(6rem);
  border-top: 5px solid hsl(212, 86%, 64%);
}
article:nth-child(4) {
  transform: translateX(25.7rem);
  border-top: 5px solid hsl(34, 97%, 64%);
}
img {
  margin-top: 1rem;
  margin-left: auto;
  width: 4rem;
  height: 4rem;
}
.card-title {
  font-size: 24px;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}
p {
  color: hsl(229, 6%, 66%);
}
